#container_demo {
  background: url(../../../assets/images/banner.jpg) no-repeat center;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

#erromsg {
  margin-left: 150px !important;
  font-size: 13px !important;
  font-family: sans-serif;
  font-style: normal;
}


#register {
  margin-top:  30px !important;
}

#login {
  margin-top: 70px !important; 
}

p.change_link {
  height: 60px !important;
    width: 437px !important;
}