
<!-- <app-navigation></app-navigation>
<app-header></app-header> -->

<div class="gateway">
    <div class="gateway-head">
      <!-- <div class="brand-logo-div">
        <img class="brand-logo" src="../../../assets/images/brand-logo-1.jpg">
      </div> -->
    </div>
    <div class="gateway-body">
      <div class="gateway-body-head">
        <div class="gateway-order">
          Order No. : <b class="order-style"> 1500 </b>
        </div>
        <div class="gateway-amount">
          Total Amount : <b class="amt-style"> INR 100.00 </b>
        </div>
      </div>
      <div class="payment-type-div">
        <div class="paymet-type"> Credit Card </div>
        <div class="paymet-type"> Debit Card </div>
        <div class="paymet-type"> Net Banking </div>
        <div class="paymet-type"> Cash Card </div>
        <div class="paymet-type"> UPI </div>
      </div>
      <div class="payment-card-type-logos-div">
        <div class="paymet-type-desc"> Pay using credit card </div>
        <img class="paymet-type-logo" src="../../../assets/images/visa-logo.png" />
        <img class="paymet-type-logo" src="../../../assets/images/mastercard-logo.jpg" />
        <img class="paymet-type-logo" src="../../../assets/images/cirrus-logo.png" />
        <img class="paymet-type-logo" src="../../../assets/images/maestro-logo.png" />
        <img class="paymet-type-logo" src="../../../assets/images/paypal-logo.png" />
        <img class="paymet-type-logo" src="../../../assets/images/maestro-logo.png" />
      </div>
      <div class="payment-card-save-div">
        <div class="paymet-card-saved"> SAVED CARD </div>
        <div class="paymet-card-save"> NEW CREDIT CARD </div>
      </div>
      <div class="payment-card-div">
        <div class="payment-card-number-div">
          <input type="number" class="payment-card-number-input" value="" placeholder="Card Number">
          <img class="payment-card-number-log" src="../../../assets/images/card-number-logo.jpg">
        </div>
        <div class="payment-card-expdate-cvv-div">
          <div class="payment-card-expdate-div">
            <input type="text" class="payment-card-expdate" value="" placeholder="MM / YY">
          </div>
          <div class="payment-card-expdate-label-div">
            Expery Date
          </div>
          <div class="payment-card-cvv-div">
            <input type="text" class="payment-card-cvv-input" value="" placeholder="CVV">
          </div>
          <div class="cvv-logo-div">
            <img class="cvv-logo" src="../../../assets/images/cvv-logo-2.png">
          </div>
        </div>
        <div class="payment-card-holder-name-div">
          <input type="text" class="payment-card-holder-name" value="" placeholder="Name on Card">
        </div>
        <div class="patment-card-buttons-div">
          <div class="payment-pay-btn-div">
            <button class="payment-pay-btn" value="" (click)="ConfirmPayment()">Pay</button>
          </div>
          <div class="payment-pay-save-btn-div">
            <button class="payment-pay-save-btn" value="Save & Pay" (click)="ConfirmPayment()"> Save & Pay </button>
          </div>
        </div>
        <div class="payment-save-card-disc-div">
          <i class="payment-save-card-disc">This card will be saved for future payment </i>
          <div class="payment-save-card-q-div">
            <img class="quation-mark-logo" src="../../../assets/images/question_mark_icon.png">
          </div>
        </div>
      </div>
      <div class="card-img-div">
        <img class="card-img-logo-1" src="../../../assets/images/visa-logo-2.png">
        <img class="card-img-logo-2" src="../../../assets/images/visa-logo-3.svg">
        <img class="card-img-logo-3" src="../../../assets/images/master-card-logo-2.png">
        <img class="card-img-logo-4" src="../../../assets/images/mcafee-secure-logo.png">
      </div>
    </div>
    <div class="payment-bottom-img-div">
      <img class="paymet-type-logo" src="../../../assets/images/visa-logo.png" />
      <img class="paymet-type-logo" src="../../../assets/images/mcafee-secure-logo.png" />
      <img class="paymet-type-logo" src="../../../assets/images/visa-logo.png" />
      <img class="paymet-type-logo" src="../../../assets/images/mastercard-logo.jpg" />
    </div>
  </div>